@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .active-link{
    border-bottom: solid rgb(83 223 252 / var(--tw-text-opacity));
  }
  .nav-link:hover {
    border-bottom: solid rgb(83 223 252 / var(--tw-text-opacity));
  }

  .image-rounded {
    border-radius: 1rem; /* or any desired radius value */
    overflow: hidden;
  }
  
