@tailwind base;
@tailwind components;
@tailwind utilities;

.model-search-content {
  background: #fff;
  /* box-shadow: 0 10px 40px 0px rgba(4, 221, 181, 0.864); */
  position: relative;
  align-items: center;
  justify-content: center;
  top: -90px;
  border-radius: 3px;
}

.model-search-content2 {
  background: #fff;
  /* box-shadow: 0 10px 40px 0px rgba(4, 221, 181, 0.864); */
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.rounded-circle {
  border-radius: 50% !important
}

.active-link {
  border-bottom: solid rgb(83 223 252 / var(--tw-text-opacity));
}

.nav-link:hover {
  border-bottom: solid rgb(83 223 252 / var(--tw-text-opacity));
}

.image-rounded {
  border-radius: 0.5rem;
  /* or any desired radius value */
  overflow: hidden;
}

.ok a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* Ensures link color matches text color */
}

.ok a:hover:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 1px solid white;
  /* Adjust border color here */
  margin: 0 auto;
  padding-top: 4px;
  /* Adjust padding as needed */
  border-bottom: 2px solid rgb(83, 223, 252);

}

.texteone:hover {
  color: rgb(83, 223, 252);
  /* Couleur au survol */
}

.image-wrapper {
  position: relative;
}

.image-wrapper .date {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
}

.image-wrapper .slide-indicators {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper .slide-indicators span {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 4px;
}


.workshop-list a {
  position: relative;
  padding-left: 15px;
  /* Ajustez la valeur pour positionner le point correctement */
}

.workshop-list a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  /* Taille du point */
  height: 8px;
  /* Taille du point */
  background-color: rgb(83, 223, 252);
  /* Couleur du point en RGB */
  border-radius: 50%;
  /* Pour faire un cercle */
  margin-right: 8px;
  /* Espace entre le point et le texte */
}